{% extends "base.html" %}
{% load static %}

{% block title %}<h2>WELCOME TO COMFORT FOODS.DE</h2>{% endblock %}
{% block content %}
<div class="container-fluid ">
    <div class="carousel slide opacity-50" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/umngqusho-neembotyi-samp-and-beans-tastemagazine.jpg' %}" class="d-block w-100" alt="samp and beans">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/steamed-bread.jpg' %}" class="d-block w-100" alt="steamed bread">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/chicken-feet-youtube-thabile-thecook.jpg' %}" class="d-block w-100" alt="chicken feet in soup">         
        </div>
      </div>
    </div>
    <h1 class="position-absolute top-50 start-50 translate-middle">Welcome to Comfort Foods.de</h1>

    <div class="rewards">
      <p class=" text-bold">For more information and rewards, <a class="link" href="{{ signup_url }}">signup</a>  with us.</p>
    </div>
</div>


{% endblock %}
