body {
    background-color: rgb(236, 212, 72);
    
    padding: 10px;
    
}


/* .navbar-brand {
    font-size: 3rem;
} */

/* .carousel h1 {
    transform: translate(-50%);
    white-space: nowrap;
} */

.text-end {
    padding: 5px;
}
.navbar-text {
    text-align: center;
}

.nav-item:hover,
.nav-item:active {
    color:black;
    text-decoration: underline;
}



/* Footer */
footer {
    margin-bottom: 0;
    background-color: white;

}